In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import requests as req
from bs4 import BeautifulSoup as bs
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()
url = 'https://es.wikipedia.org/wiki/Anexo:Distritos_de_Madrid'
html=req.get(url).text
sopa=bs(html, 'html.parser')
driver.get(url)

In [3]:
headers = driver.find_elements(By.CLASS_NAME, 'headerSort')
lista = []
for elemento in headers:
    lista.append(elemento.text.split('\n'))

lista

[['Número'],
 ['Nombre'],
 ['Superficien. 1', '(ha)'],
 ['Población'],
 ['Densidad', '(Hab./ha)'],
 ['Imagen'],
 ['Barrios']]

In [4]:
lista = [col for col in lista if col[0] not in ['Imagen', 'Barrios']]
for col in lista:
    if col[0] == 'Superficien. 1 (ha)':
        col[0] = 'Superficie (ha)'
    elif col[0] == 'Densidad (Hab./ha)':
        col[0] = 'Densidad (Hab./ha)'
for col in lista:
    print(col[0])

lista

Número
Nombre
Superficien. 1
Población
Densidad

[['Número'],
 ['Nombre'],
 ['Superficien. 1', '(ha)'],
 ['Población'],
 ['Densidad', '(Hab./ha)']]

In [5]:
lista[2] = ['Superficie (ha)']
lista[4] = ['Densidad (Hab./ha)']
lista

[['Número'],
 ['Nombre'],
 ['Superficie (ha)'],
 ['Población'],
 ['Densidad (Hab./ha)']]

In [6]:
data = driver.find_elements(By.TAG_NAME, 'td')
lista2 = []
for elemento in data:
    lista2.append(elemento.text.split('\n'))

lista2

[['1'],
 ['Centro'],
 ['522,82'],
 ['140,473'],
 ['252,34'],
 [''],
 ['Palacio (11)',
  'Embajadores (12)',
  'Cortes (13)',
  'Justicia (14)',
  'Universidad (15)',
  'Sol (16)'],
 ['2'],
 ['Arganzuela'],
 ['646,22'],
 ['151,965'],
 ['235,16'],
 [''],
 ['Imperial (21)',
  'Acacias (22)',
  'Chopera (23)',
  'Legazpi (24)',
  'Delicias (25)',
  'Palos de Moguer (26)',
  'Atocha (27)'],
 ['3'],
 ['Retiro'],
 ['546,62'],
 ['120,406'],
 ['216,82'],
 [''],
 ['Pacífico (31)',
  'Adelfas (32)',
  'Estrella (33)',
  'Ibiza (34)',
  'Jerónimos (35)',
  'Niño Jesús (36)'],
 ['4'],
 ['Salamanca'],
 ['539,24'],
 ['147,854'],
 ['266,67'],
 [''],
 ['Recoletos (41)',
  'Goya (42)',
  'Fuente del Berro (43)',
  'Guindalera (44)',
  'Lista (45)',
  'Castellana (46)'],
 ['5'],
 ['Chamartín'],
 ['917,55'],
 ['147,551'],
 ['156,31'],
 [''],
 ['El Viso (51)',
  'Prosperidad (52)',
  'Ciudad Jardín (53)',
  'Hispanoamérica (54)',
  'Nueva España (55)',
  'Castilla (56)'],
 ['6'],
 ['Tetuán'],
 ['537,47'],
 ['161,313'],
 ['286,13'],
 [''],
 ['Bellas Vistas (61)',
  'Cuatro Caminos (62)',
  'Castillejos (63)',
  'Almenara (64)',
  'Valdeacederas (65)',
  'Berruguete (66)'],
 ['7'],
 ['Chamberí'],
 ['467,92'],
 ['140,866'],
 ['293,64'],
 [''],
 ['Gaztambide (71)',
  'Arapiles (72)',
  'Trafalgar (73)',
  'Almagro (74)',
  'Ríos Rosas (75)',
  'Vallehermoso (76)'],
 ['8'],
 ['Fuencarral-El Pardo'],
 ['23 783,84'],
 ['249,973'],
 ['10,04'],
 [''],
 ['El Pardo (81)',
  'Fuentelarreina (82)',
  'Peñagrande (83)',
  'Pilar (84)',
  'La Paz (85)',
  'Valverde (86)',
  'Mirasierra (87)',
  'El Goloso (88)'],
 ['9'],
 ['Moncloa-Aravaca'],
 ['4653,11'],
 ['121,683'],
 ['25,12'],
 [''],
 ['Casa de Campo (91)',
  'Argüelles (92)',
  'Ciudad Universitaria (93)',
  'Valdezarza (94)',
  'Valdemarín (95)',
  'El Plantío (96)',
  'Aravaca (97)'],
 ['10'],
 ['Latina'],
 ['2542,72'],
 ['242,139'],
 ['91,95'],
 [''],
 ['Los Cármenes (101)',
  'Puerta del Ángel (102)',
  'Lucero (103)',
  'Aluche (104)',
  'Campamento (105)',
  'Cuatro Vientos (106)',
  'Las Águilas (107)'],
 ['11'],
 ['Carabanchel'],
 ['1404,83'],
 ['260,196'],
 ['173,68'],
 [''],
 ['Comillas (111)',
  'Opañel (112)',
  'San Isidro (113)',
  'Vista Alegre (114)',
  'Puerta Bonita (115)',
  'Buenavista (116)',
  'Abrantes (117)'],
 ['12'],
 ['Usera'],
 ['777,77'],
 ['142,894'],
 ['173,30'],
 [''],
 ['Orcasitas (121)',
  'Orcasur (122)',
  'San Fermín (123)',
  'Almendrales (124)',
  'Moscardó (125)',
  'Zofío (126)',
  'Pradolongo (127)'],
 ['13'],
 ['Puente de Vallecas'],
 ['1496,86'],
 ['240,867'],
 ['152,05'],
 [''],
 ['Entrevías (131)',
  'San Diego (132)',
  'Palomeras Bajas (133)',
  'Palomeras Sureste (134)',
  'Portazgo (135)',
  'Numancia (136)'],
 ['14'],
 ['Moratalaz'],
 ['610,32'],
 ['95,614'],
 ['154,34'],
 [''],
 ['Pavones (141)',
  'Horcajo (142)',
  'Marroquina (143)',
  'Media Legua (144)',
  'Fontarrón (145)',
  'Vinateros (146)'],
 ['15'],
 ['Ciudad Lineal'],
 ['1142,57'],
 ['219,867'],
 ['186,01'],
 [''],
 ['Ventas (151)',
  'Pueblo Nuevo (152)',
  'Quintana (153)',
  'Concepción (154)',
  'San Pascual (155)',
  'San Juan Bautista (156)',
  'Colina (157)',
  'Atalaya (158)',
  'Costillares (159)'],
 ['16'],
 ['Hortaleza'],
 ['2741,98'],
 ['193,264'],
 ['65,81'],
 [''],
 ['Palomas (161)',
  'Piovera (162)',
  'Canillas (163)',
  'Pinar del Rey (164)',
  'Apóstol Santiago (165)',
  'Valdefuentes (166)'],
 ['17'],
 ['Villaverde'],
 ['2018,76'],
 ['154,318'],
 ['70,64'],
 [''],
 ['Villaverde Alto (171)',
  'San Cristóbal (172)',
  'Butarque (173)',
  'Los Rosales (174)',
  'Los Ángeles (175)'],
 ['18'],
 ['Villa de Vallecas'],
 ['5146,72'],
 ['114,512'],
 ['19,86'],
 [''],
 ['Casco Histórico de Vallecas (181)',
  'Santa Eugenia (182)',
  'Ensanche de Vallecas (183)'],
 ['19'],
 ['Vicálvaro'],
 ['3526,67'],
 ['74,048'],
 ['19,86'],
 [''],
 ['Casco Histórico de Vicálvaro (191)',
  'Valdebernardo (192)',
  'Valderrivas (193)',
  'El Cañaveral (194)'],
 ['20'],
 ['San Blas-Canillejas'],
 ['2229,24'],
 ['161,222'],
 ['69,24'],
 [''],
 ['Simancas (201)',
  'Hellín (202)',
  'Amposta (203)',
  'Arcos (204)',
  'Rosas (205)',
  'Rejas (206)',
  'Canillejas (207)',
  'Salvador (208)'],
 ['21'],
 ['Barajas'],
 ['4192,28'],
 ['50,010'],
 ['11,18'],
 [''],
 ['Alameda de Osuna (211)',
  'Aeropuerto (212)',
  'Casco Histórico de Barajas (213)',
  'Timón (214)',
  'Corralejos (215)'],
 ['Proyectos Wikimedia Datos: Q3032114 Multimedia: Districts of Madrid / Q3032114']]

In [7]:
primeros_cinco_elementos = []
for sublista in lista2:
    primeros_cinco_elementos.append(sublista[:5])
for sublista in primeros_cinco_elementos:
    print(sublista)

['1']
['Centro']
['522,82']
['140,473']
['252,34']
['']
['Palacio (11)', 'Embajadores (12)', 'Cortes (13)', 'Justicia (14)', 'Universidad (15)']
['2']
['Arganzuela']
['646,22']
['151,965']
['235,16']
['']
['Imperial (21)', 'Acacias (22)', 'Chopera (23)', 'Legazpi (24)', 'Delicias (25)']
['3']
['Retiro']
['546,62']
['120,406']
['216,82']
['']
['Pacífico (31)', 'Adelfas (32)', 'Estrella (33)', 'Ibiza (34)', 'Jerónimos (35)']
['4']
['Salamanca']
['539,24']
['147,854']
['266,67']
['']
['Recoletos (41)', 'Goya (42)', 'Fuente del Berro (43)', 'Guindalera (44)', 'Lista (45)']
['5']
['Chamartín']
['917,55']
['147,551']
['156,31']
['']
['El Viso (51)', 'Prosperidad (52)', 'Ciudad Jardín (53)', 'Hispanoamérica (54)', 'Nueva España (55)']
['6']
['Tetuán']
['537,47']
['161,313']
['286,13']
['']
['Bellas Vistas (61)', 'Cuatro Caminos (62)', 'Castillejos (63)', 'Almenara (64)', 'Valdeacederas (65)']
['7']
['Chamberí']
['467,92']
['140,866']
['293,64']
['']
['Gaztambide (71)', 'Arapiles (72)', 'Trafalgar (73)', 'Almagro (74)', 'Ríos Rosas (75)']
['8']
['Fuencarral-El Pardo']
['23 783,84']
['249,973']
['10,04']
['']
['El Pardo (81)', 'Fuentelarreina (82)', 'Peñagrande (83)', 'Pilar (84)', 'La Paz (85)']
['9']
['Moncloa-Aravaca']
['4653,11']
['121,683']
['25,12']
['']
['Casa de Campo (91)', 'Argüelles (92)', 'Ciudad Universitaria (93)', 'Valdezarza (94)', 'Valdemarín (95)']
['10']
['Latina']
['2542,72']
['242,139']
['91,95']
['']
['Los Cármenes (101)', 'Puerta del Ángel (102)', 'Lucero (103)', 'Aluche (104)', 'Campamento (105)']
['11']
['Carabanchel']
['1404,83']
['260,196']
['173,68']
['']
['Comillas (111)', 'Opañel (112)', 'San Isidro (113)', 'Vista Alegre (114)', 'Puerta Bonita (115)']
['12']
['Usera']
['777,77']
['142,894']
['173,30']
['']
['Orcasitas (121)', 'Orcasur (122)', 'San Fermín (123)', 'Almendrales (124)', 'Moscardó (125)']
['13']
['Puente de Vallecas']
['1496,86']
['240,867']
['152,05']
['']
['Entrevías (131)', 'San Diego (132)', 'Palomeras Bajas (133)', 'Palomeras Sureste (134)', 'Portazgo (135)']
['14']
['Moratalaz']
['610,32']
['95,614']
['154,34']
['']
['Pavones (141)', 'Horcajo (142)', 'Marroquina (143)', 'Media Legua (144)', 'Fontarrón (145)']
['15']
['Ciudad Lineal']
['1142,57']
['219,867']
['186,01']
['']
['Ventas (151)', 'Pueblo Nuevo (152)', 'Quintana (153)', 'Concepción (154)', 'San Pascual (155)']
['16']
['Hortaleza']
['2741,98']
['193,264']
['65,81']
['']
['Palomas (161)', 'Piovera (162)', 'Canillas (163)', 'Pinar del Rey (164)', 'Apóstol Santiago (165)']
['17']
['Villaverde']
['2018,76']
['154,318']
['70,64']
['']
['Villaverde Alto (171)', 'San Cristóbal (172)', 'Butarque (173)', 'Los Rosales (174)', 'Los Ángeles (175)']
['18']
['Villa de Vallecas']
['5146,72']
['114,512']
['19,86']
['']
['Casco Histórico de Vallecas (181)', 'Santa Eugenia (182)', 'Ensanche de Vallecas (183)']
['19']
['Vicálvaro']
['3526,67']
['74,048']
['19,86']
['']
['Casco Histórico de Vicálvaro (191)', 'Valdebernardo (192)', 'Valderrivas (193)', 'El Cañaveral (194)']
['20']
['San Blas-Canillejas']
['2229,24']
['161,222']
['69,24']
['']
['Simancas (201)', 'Hellín (202)', 'Amposta (203)', 'Arcos (204)', 'Rosas (205)']
['21']
['Barajas']
['4192,28']
['50,010']
['11,18']
['']
['Alameda de Osuna (211)', 'Aeropuerto (212)', 'Casco Histórico de Barajas (213)', 'Timón (214)', 'Corralejos (215)']
['Proyectos Wikimedia Datos: Q3032114 Multimedia: Districts of Madrid / Q3032114']

In [8]:
primeros_cinco_elementos = []

contador = 0

for elemento in lista2:
    if contador < 5:
        primeros_cinco_elementos.append(elemento)
    contador += 1

    if contador == 7:
        contador = 0
        
for sublista in primeros_cinco_elementos:
    print(sublista)

['1']
['Centro']
['522,82']
['140,473']
['252,34']
['2']
['Arganzuela']
['646,22']
['151,965']
['235,16']
['3']
['Retiro']
['546,62']
['120,406']
['216,82']
['4']
['Salamanca']
['539,24']
['147,854']
['266,67']
['5']
['Chamartín']
['917,55']
['147,551']
['156,31']
['6']
['Tetuán']
['537,47']
['161,313']
['286,13']
['7']
['Chamberí']
['467,92']
['140,866']
['293,64']
['8']
['Fuencarral-El Pardo']
['23 783,84']
['249,973']
['10,04']
['9']
['Moncloa-Aravaca']
['4653,11']
['121,683']
['25,12']
['10']
['Latina']
['2542,72']
['242,139']
['91,95']
['11']
['Carabanchel']
['1404,83']
['260,196']
['173,68']
['12']
['Usera']
['777,77']
['142,894']
['173,30']
['13']
['Puente de Vallecas']
['1496,86']
['240,867']
['152,05']
['14']
['Moratalaz']
['610,32']
['95,614']
['154,34']
['15']
['Ciudad Lineal']
['1142,57']
['219,867']
['186,01']
['16']
['Hortaleza']
['2741,98']
['193,264']
['65,81']
['17']
['Villaverde']
['2018,76']
['154,318']
['70,64']
['18']
['Villa de Vallecas']
['5146,72']
['114,512']
['19,86']
['19']
['Vicálvaro']
['3526,67']
['74,048']
['19,86']
['20']
['San Blas-Canillejas']
['2229,24']
['161,222']
['69,24']
['21']
['Barajas']
['4192,28']
['50,010']
['11,18']
['Proyectos Wikimedia Datos: Q3032114 Multimedia: Districts of Madrid / Q3032114']

In [9]:

elementos_agrupados = []

sublista_temporal = []

for elemento in primeros_cinco_elementos:
    
    sublista_temporal.extend(elemento)

   
    if len(sublista_temporal) == 5:
        elementos_agrupados.append(sublista_temporal)
        
        sublista_temporal = []


for elementos in elementos_agrupados:
    print(elementos)

['1', 'Centro', '522,82', '140,473', '252,34']
['2', 'Arganzuela', '646,22', '151,965', '235,16']
['3', 'Retiro', '546,62', '120,406', '216,82']
['4', 'Salamanca', '539,24', '147,854', '266,67']
['5', 'Chamartín', '917,55', '147,551', '156,31']
['6', 'Tetuán', '537,47', '161,313', '286,13']
['7', 'Chamberí', '467,92', '140,866', '293,64']
['8', 'Fuencarral-El Pardo', '23 783,84', '249,973', '10,04']
['9', 'Moncloa-Aravaca', '4653,11', '121,683', '25,12']
['10', 'Latina', '2542,72', '242,139', '91,95']
['11', 'Carabanchel', '1404,83', '260,196', '173,68']
['12', 'Usera', '777,77', '142,894', '173,30']
['13', 'Puente de Vallecas', '1496,86', '240,867', '152,05']
['14', 'Moratalaz', '610,32', '95,614', '154,34']
['15', 'Ciudad Lineal', '1142,57', '219,867', '186,01']
['16', 'Hortaleza', '2741,98', '193,264', '65,81']
['17', 'Villaverde', '2018,76', '154,318', '70,64']
['18', 'Villa de Vallecas', '5146,72', '114,512', '19,86']
['19', 'Vicálvaro', '3526,67', '74,048', '19,86']
['20', 'San Blas-Canillejas', '2229,24', '161,222', '69,24']
['21', 'Barajas', '4192,28', '50,010', '11,18']

In [10]:
lista

[['Número'],
 ['Nombre'],
 ['Superficie (ha)'],
 ['Población'],
 ['Densidad (Hab./ha)']]

In [11]:
columnas = ['Número',
 'Nombre',
 'Superficie (ha)',
 'Población',
 'Densidad (Hab./ha)']
df = pd.DataFrame (elementos_agrupados, columns = columnas)
df.rename(columns={'Nombre': 'Distrito'}, inplace=True)
df

   Número             Distrito Superficie (ha) Población Densidad (Hab./ha)
0       1               Centro          522,82   140,473             252,34
1       2           Arganzuela          646,22   151,965             235,16
2       3               Retiro          546,62   120,406             216,82
3       4            Salamanca          539,24   147,854             266,67
4       5            Chamartín          917,55   147,551             156,31
5       6               Tetuán          537,47   161,313             286,13
6       7             Chamberí          467,92   140,866             293,64
7       8  Fuencarral-El Pardo       23 783,84   249,973              10,04
8       9      Moncloa-Aravaca         4653,11   121,683              25,12
9      10               Latina         2542,72   242,139              91,95
10     11          Carabanchel         1404,83   260,196             173,68
11     12                Usera          777,77   142,894             173,30
12     13   Puente de Vallecas         1496,86   240,867             152,05
13     14            Moratalaz          610,32    95,614             154,34
14     15        Ciudad Lineal         1142,57   219,867             186,01
15     16            Hortaleza         2741,98   193,264              65,81
16     17           Villaverde         2018,76   154,318              70,64
17     18    Villa de Vallecas         5146,72   114,512              19,86
18     19            Vicálvaro         3526,67    74,048              19,86
19     20  San Blas-Canillejas         2229,24   161,222              69,24
20     21              Barajas         4192,28    50,010              11,18

In [12]:
from funcion import quitar_tildes_y_simbolos

df['Distrito'] = df['Distrito'].apply(quitar_tildes_y_simbolos)
df

   Número            Distrito Superficie (ha) Población Densidad (Hab./ha)
0       1              Centro          522,82   140,473             252,34
1       2          Arganzuela          646,22   151,965             235,16
2       3              Retiro          546,62   120,406             216,82
3       4           Salamanca          539,24   147,854             266,67
4       5           Chamartin          917,55   147,551             156,31
5       6              Tetuan          537,47   161,313             286,13
6       7            Chamberi          467,92   140,866             293,64
7       8  FuencarralEl Pardo       23 783,84   249,973              10,04
8       9      MoncloaAravaca         4653,11   121,683              25,12
9      10              Latina         2542,72   242,139              91,95
10     11         Carabanchel         1404,83   260,196             173,68
11     12               Usera          777,77   142,894             173,30
12     13  Puente de Vallecas         1496,86   240,867             152,05
13     14           Moratalaz          610,32    95,614             154,34
14     15       Ciudad Lineal         1142,57   219,867             186,01
15     16           Hortaleza         2741,98   193,264              65,81
16     17          Villaverde         2018,76   154,318              70,64
17     18   Villa de Vallecas         5146,72   114,512              19,86
18     19           Vicalvaro         3526,67    74,048              19,86
19     20  San BlasCanillejas         2229,24   161,222              69,24
20     21             Barajas         4192,28    50,010              11,18

In [13]:
df['Distrito']=df['Distrito'].str.replace("FuencarralEl Pardo", "Fuencarral")
df['Distrito']=df['Distrito'].str.replace("MoncloaAravaca", "Moncloa")
df['Distrito']=df['Distrito'].str.replace("San BlasCanillejas", "San Blas")

In [14]:
df = df.sort_values(by='Distrito')
df

   Número            Distrito Superficie (ha) Población Densidad (Hab./ha)
1       2          Arganzuela          646,22   151,965             235,16
20     21             Barajas         4192,28    50,010              11,18
10     11         Carabanchel         1404,83   260,196             173,68
0       1              Centro          522,82   140,473             252,34
4       5           Chamartin          917,55   147,551             156,31
6       7            Chamberi          467,92   140,866             293,64
14     15       Ciudad Lineal         1142,57   219,867             186,01
7       8          Fuencarral       23 783,84   249,973              10,04
15     16           Hortaleza         2741,98   193,264              65,81
9      10              Latina         2542,72   242,139              91,95
8       9             Moncloa         4653,11   121,683              25,12
13     14           Moratalaz          610,32    95,614             154,34
12     13  Puente de Vallecas         1496,86   240,867             152,05
2       3              Retiro          546,62   120,406             216,82
3       4           Salamanca          539,24   147,854             266,67
19     20            San Blas         2229,24   161,222              69,24
5       6              Tetuan          537,47   161,313             286,13
11     12               Usera          777,77   142,894             173,30
18     19           Vicalvaro         3526,67    74,048              19,86
17     18   Villa de Vallecas         5146,72   114,512              19,86
16     17          Villaverde         2018,76   154,318              70,64

In [16]:
df.rename(columns = {'Población': 'Poblacion'}, inplace = True)

In [21]:
df['Poblacion'] = df['Poblacion'].str.replace(",","")
df['Poblacion'] = df['Poblacion'].astype(int)

In [17]:
df['Superficie (ha)'] = df['Superficie (ha)'].str.replace(",",".")
df['Densidad (Hab./ha)'] = df['Densidad (Hab./ha)'].str.replace(",",".")
df['Superficie (ha)'] = df['Superficie (ha)'].astype(float)
df['Densidad (Hab./ha)'] = df['Densidad (Hab./ha)'].astype(float)

ValueError: could not convert string to float: '23 783.84'

In [19]:
df['Superficie (ha)'] = df['Superficie (ha)'].str.replace(" ","")

In [20]:
df

   Número            Distrito Superficie (ha) Poblacion Densidad (Hab./ha)
1       2          Arganzuela          646.22   151,965             235.16
20     21             Barajas         4192.28    50,010              11.18
10     11         Carabanchel         1404.83   260,196             173.68
0       1              Centro          522.82   140,473             252.34
4       5           Chamartin          917.55   147,551             156.31
6       7            Chamberi          467.92   140,866             293.64
14     15       Ciudad Lineal         1142.57   219,867             186.01
7       8          Fuencarral        23783.84   249,973              10.04
15     16           Hortaleza         2741.98   193,264              65.81
9      10              Latina         2542.72   242,139              91.95
8       9             Moncloa         4653.11   121,683              25.12
13     14           Moratalaz          610.32    95,614             154.34
12     13  Puente de Vallecas         1496.86   240,867             152.05
2       3              Retiro          546.62   120,406             216.82
3       4           Salamanca          539.24   147,854             266.67
19     20            San Blas         2229.24   161,222              69.24
5       6              Tetuan          537.47   161,313             286.13
11     12               Usera          777.77   142,894             173.30
18     19           Vicalvaro         3526.67    74,048              19.86
17     18   Villa de Vallecas         5146.72   114,512              19.86
16     17          Villaverde         2018.76   154,318              70.64

In [21]:
df.to_csv('poblacion.csv', index= False)